<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Cristian Villafañe" content="Nube Colectiva">
    <title>Nueva Compra</title>    
 
    <!-- Archivo CSS Bootstrap 5 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href="../css/style.css" rel="stylesheet">

    <style>
     /*  * {
          box-sizing: border-box;
      } */
    /*   table {
          border-spacing: 0;
          border-collapse: collapse;
      } */
       th {
        vertical-align: inherit;
      } 
       td {
        vertical-align: inherit;

      } 
      /* input {
          padding: 6px;
      }
      input[type=number] {
          text-align: right;
      } */
     /*  .text {
          line-height: 1.8;
      } */
     /*  .importe, .total, .base, .iva {
          text-align: right;
          min-width: 100px;
      } */
     /*  .bold {
          font-weight: bold;
      } */
  </style>
    
  </head>

  <header class="header">
    <!--         <div class="container mb-5">
     -->   
              <!-- Header -->
              
           
            <div class="nav">
              <%- include('../nav.ejs') -%>
    
    <!--         <header class="d-flex flex-wrap py-3 mb-5 border-bottom">
     -->
            </div> 
          </header>

          <div class="container mb-5"></div>
  <body>
 
    <main>
      <form action="/nuevaCompra" method="POST">
        
        <div class="container mb-5">
            <a class="navbar-brand" href="">Nuevo Comprobante de Compra</a> 
            <div class="form-group2 has-success"><a class="navbar-brand" href="">Datos Principales</a>  </div> 
                 
          <div class="form-group2 has-success">
            
            <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de Emision:</font></font></label>
            <input id="fecha_emision" name="fecha_emision" type="date"  >
            <button id="btn_afip" name="btn_afip" type="button" class="btn btn-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Obtener Datos de AFIP</font></font></button>
            <form action="/nuevaCompraRapida" method="POST">
              <input id="idcompra" name="idcompra" type="number"  hidden>
              <button id="btn_compraRapida" class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nuevo Proveedor</font></font></button>
  
            </form>
          </div>
         
          
        
          <!-- 
        <div class="form-group2 has-success">
          <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Proveedor:</font></font></label>
          <input id="buscar_proveedor" name="buscar_proveedor" type="text"  >
          <button id="btn_busqueda" class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Búsqueda</font></font></button>
          <button id="btn_cancelar" type="button" class="btn btn-danger mx-4" data-dismiss="modal" >Cancelar</button>
                
          <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CUIT:</font></font></label>
          <input id="cuit" name="cuit" type="text" >
          <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nª Ingresos Brutos:</font></font></label>
          <input id="ingresos_brutos" name="ingresos_brutos" type="number" >
         
          
        </div>
          
        <div class="form-group2 has-success">
          <label for="exampleSelect1" class="form-label mt-4"><font style="vertical-align: inherit;">Cond. Frente Al IVA</font></label>
          <select class="form-select" id="cond_iva" name ="cond_iva">
            <option value="Responsable Inscripto" selected><font style="vertical-align: inherit;">Responsable Inscripto</font></option>
            <option value="Monotributista"><font style="vertical-align: inherit;">Monotributista</font></option>
            <option value="Consumidor Final"><font style="vertical-align: inherit;">Consumidor Final</font></option>
            <option value="4"><font style="vertical-align: inherit;">4</font></option>
            <option value="5"><font style="vertical-align: inherit;">5</font></option>
          </select>
          <label for="exampleSelect1" class="form-label mt-4"><font style="vertical-align: inherit;">Provincia</font></label>
          <select class="form-select" id="provincia" name ="provincia">
            <option value="Tucuman" ><font style="vertical-align: inherit;">Tucuman</font></option>
            <option value="Buenos Aires	"><font style="vertical-align: inherit;">Buenos Aires	</font></option>
            <option value="Catamarca"><font style="vertical-align: inherit;">Catamarca</font></option>
            <option value="Chaco"><font style="vertical-align: inherit;">Chaco</font></option>
            <option value="Chubut"><font style="vertical-align: inherit;">Chubut</font></option>
            <option value="Córdoba" ><font style="vertical-align: inherit;">Córdoba</font></option>
            <option value="Corrientes"><font style="vertical-align: inherit;">Corrientes	</font></option>
            <option value="Entre Ríos"><font style="vertical-align: inherit;">Entre Ríos</font></option>
            <option value="Formosa"><font style="vertical-align: inherit;">Formosa</font></option>
            <option value="Jujuy"><font style="vertical-align: inherit;">Jujuy</font></option>
            <option value="La Pampa" ><font style="vertical-align: inherit;">La Pampa</font></option>
            <option value="La Rioja"><font style="vertical-align: inherit;">La Rioja</font></option>
            <option value="Mendoza"><font style="vertical-align: inherit;">Mendoza</font></option>
            <option value="Misiones"><font style="vertical-align: inherit;">Misiones</font></option>
            <option value="Neuquén"><font style="vertical-align: inherit;">Neuquén</font></option>
            <option value="Río Negro" ><font style="vertical-align: inherit;">Río Negro</font></option>
            <option value="Salta"><font style="vertical-align: inherit;">Salta</font></option>
            <option value="San Juan"><font style="vertical-align: inherit;">San Juan</font></option>
            <option value="San Luis"><font style="vertical-align: inherit;">San Luis</font></option>
            <option value="Santa Cruz"><font style="vertical-align: inherit;">Santa Cruz</font></option>
            <option value="Santa Fe" ><font style="vertical-align: inherit;">Santa Fe</font></option>
            <option value="Santiago del Estero"><font style="vertical-align: inherit;">Santiago del Estero</font></option>
            <option value="Tierra del Fuego"><font style="vertical-align: inherit;">Tierra del Fuego</font></option>
          </select>
            <label for="exampleSelect1" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tipo Comprobante:</font></font></label>
            <select class="form-select" id="tipo_comprobante" name="tipo_comprobante">
              <option value="Ticket Factura"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ticket Factura</font></font></option>
              <option value="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></option>
              <option value="3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></option>
              <option value="4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></option>
              <option value="5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></option>
            </select>
         
        </div>

        <div class="form-group2 has-success">
          <label for="exampleSelect1" class="form-label mt-4"><font style="vertical-align: inherit;">Actividad</font></label>
          <select class="form-select" id="actividad" name ="actividad">
            <option value="Vender" selected><font style="vertical-align: inherit;">Vender</font></option>
            <option value="Comprar"><font style="vertical-align: inherit;">Comprar</font></option>
            <option value="Fabricar"><font style="vertical-align: inherit;">Fabricar</font></option>
            <option value="Elaborar"><font style="vertical-align: inherit;">Elaborar</font></option>
            <option value="Distribuir"><font style="vertical-align: inherit;">Distribuir</font></option>
          </select>
            <label for="exampleSelect1" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tipo Op. Compra:</font></font></label>
            <select class="form-select" id="tipo_compra" name="tipo_compra">
              <option value="Compra de Bienes(excepto bienes de uso)"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Compra de Bienes(excepto bienes de uso)</font></font></option>
              <option value="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></option>
              <option value="3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></option>
              <option value="4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></option>
              <option value="5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></option>
            </select>
           
         
        </div> -->

        <div class="form-group2 has-success">
            <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nª Comprobante:</font></font></label>
            <input id="comprobante" name="comprobante" type="number"  >
            <input id="comprobante2" name="comprobante2" type="number"  >
            <input id="comprobante3" name="comprobante3" type="text"  >
                     
        </div>

        <div class="form-group2 has-success">
            <a class="navbar-brand" href="#">Datos del CAI/CAE</a> 
            <div class="container"></div>

            <label for="exampleSelect1" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Codigo de Autorización:</font></font></label>
            <select class="form-select" id="codigo_autorizacion" name="codigo_autorizacion" >
              <option value="Cod 1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cod 1</font></font></option>
              <option value="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></option>
              <option value="3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></option>
              <option value="4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></option>
              <option value="5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></option>
            </select>
            <label for="exampleSelect1" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de Vencimiento:</font></font></label>
            <input id="fecha_vencimiento" name="fecha_vencimiento" type="date"  >

            <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Importe:</font></font></label>
            <input id="importe_total" value="importe_total" type="number"  >
           
         
        </div>

          <!-- 
           -->
           
          
        </div>
      
 
   <!--  </main>

    <main> -->
        <div class="container mb-5">


          <div class="container mb-5">
            <section>
                
               <table class="table  table-bordered " id="tabla_nuevaCompra">
                   <thead>
                     <tr>
                      <!-- <th >Importe</th> -->
                      <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tipo Retencion</font></font></th>
                      <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Porcentaje</font></font></th>
                      <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Neto</font></font></th>
                      <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Impuesto</font></font></th>
                      <!-- <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Valor Retencion</font></font></th> -->
                      <th>SubTotal</th>
                      </tr>
                   </thead>
                   <tbody>
                 
                     <tr>
                      <td class="tipo_retencion2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="text" class="tipo_retencion" id="tipo_retencion"></font></font></td>
                      <td class="porcentaje2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="number" class="porcentaje" id="porcentaje"></font></font></td>
                      <td class="neto2" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="number" class="neto" id="neto" ></font></font></td>
                      <td class="impuesto2" id="impuesto2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="number" class="impuesto" id="impuesto" disabled></font></font></td>
                      <td class="subtotal">0.00</td>  

                     <!-- <td class="importe2"><input type="number" class="importe" id="importe"></td> -->
                    <!-- <td class="neto2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="number" class="neto" id="neto"></font></font></td>
                    <td class="iva_tipo2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="number" class="iva_tipo" id="iva_tipo"></font></font></td>
                    <td class="iva2" id="iva2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="number" class="iva" id="iva" disabled></font></font></td>
                    <td class="tipo_retencion2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="number" class="tipo_retencion" id="tipo_retencion"></font></font></td>
                    <td class="retencion2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="number" class="retencion" id="retencion"></font></font></td>
                    <td class="subtotal">0.00</td>   -->
                     </tr>

                  
              

                      <tr>
                     
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="bold">Total Retenciones</td>
                      <td class="total bold">0.00</div></td>
                      
                
                  </tr> 
                  
                   </tbody>
                 </table>
       
               
       
            </section> 
          </div>

          <!-- <div class="form-group">
            <button type="button" class="btn btn-primary mr-2" onclick="agregarRetencion()">Agregar</button>
          </div> -->
              
         <!--  <div class="form-group2 has-success">
            
            <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Importe</font></font></label>
            <button id="btn_importe" type="submit" class="btn btn-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ic</font></font></button>
            <input id="importe" value="importe" type="number"  >
            <button id="btn_busqueda" type="submit" class="btn btn-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Busq</font></font></button>

          </div>
          
          
        <div class="form-group2 has-success">
            <a class="navbar-brand" href="#">Neto Gravado 1</a> 
            <div class="container"></div>

          <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">SubTotal(Neto+IVA):</font></font></label>
          <input id="subtotal" name="subtotal" type="number"  >
          <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Neto Grabado:</font></font></label>
          <input id="neto_grabado" name="neto_grabado" type="number"  >
          <input id="neto_grabado2" name="neto_grabado2" type="number"  >
                   
        </div>

        <div class="form-group2 has-success">
        
          <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">IVA%:</font></font></label>
          <input id="iva" name="iva" type="number"  >
          <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></label>
          <input id="iva1" name="iva1" type="number"  >
          <input id="iva2" name="iva2" type="number"  >
          <input id="iva3" name="iva3" type="number"  >
          <button id="busqueda" class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Búsqueda</font></font></button>

                   
        </div>

          
        <div class="form-group2 has-success">
            <label for="exampleSelect1" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tipo de Retencion:</font></font></label>
            <select class="form-select" id="tipo_retencion" name="tipo_retencion" >
              <option value="Ret 1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ret1</font></font></option>
              <option value="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></option>
              <option value="3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></option>
              <option value="4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></option>
              <option value="5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></option>
            </select>
            <button id="btn_busqueda" class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Búsqueda</font></font></button>
            <button id="btn_cancelar" type="button" class="btn btn-danger mx-4" data-dismiss="modal" >Cancelar</button>
            <input id="retencion1" name="retencion1" type="number"  >
            <input id="retencion2" name="retencion2" type="number"  >
          
         
        </div>

        <div class="form-group2 has-success">
          <a class="navbar-brand" href="#">Neto Gravado 2</a> 
          <div class="container"></div>

        <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">SubTotal(Neto+IVA):</font></font></label>
        <input id="subtotal" name="subtotal" type="number"  >
        <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Neto Grabado:</font></font></label>
        <input id="neto_grabado" name="neto_grabado" type="number"  >
        <input id="neto_grabado2" name="neto_grabado" type="number"  >
                 
      </div>

      <div class="form-group2 has-success">
      
        <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">IVA%:</font></font></label>
        <input id="iva_neto" name="iva_neto" type="number"  >
        <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></label>
        <input id="iva1_neto" name="iva1_neto" type="number"  >
        <input id="iva2_neto" name="iva2_neto" type="number"  >
        <input id="iva3_neto" name="iva3_neto" type="number"  >
        <button id="btn_busqueda" class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Búsqueda</font></font></button>

                 
      </div>

        
      <div class="form-group2 has-success">
          <label for="exampleSelect1" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tipo de Retencion:</font></font></label>
          <select class="form-select" id="tipo_retencion2" name="tipo_retencion2" >
            <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ret1</font></font></option>
            <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></option>
            <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></option>
            <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></option>
            <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></option>
          </select>
          <button id="btn_busqueda" class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Búsqueda</font></font></button>
          <button id="btn_cancelar" type="button" class="btn btn-danger mx-4" data-dismiss="modal" >Cancelar</button>
          <input id="iva1_retencion" name="iva1_retencion" type="number"  >
          <input id="iva2_retencion" name="iva2retencion" type="number"  >
        
       
      </div>
 -->

        <div class="form-group2 has-success">
            <label for="exampleSelect1" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Total de retenciones:</font></font></label>
            <input id="total_retencion" name="total_retencion" type="number"  >
            <label for="exampleSelect1" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            (En esta pantalla solo se muestran 2 retenciones, vea el detalle en "Otros Importes"</font></font></label>

         
        </div>

        <div class="form-group2 has-success">
            <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Importe Exento:</font></font></label>
            <input id="importe_exento" name="importe_exento" type="number"  >
            <input id="importe_exento2" name="importe_exento2" type="number"  >
            <button id="btn_busqueda" class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Búsqueda</font></font></button>
                     
        </div>

        <div class="form-group2 has-success">
            <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Importe No Grabado:</font></font></label>
            <input id="importe_no_grabado" name="importe_no_grabado" type="number"  >
            <input id="importe_no_grabado2" name="importe_no_grabado2" type="number"  >
            <button id="btn_busqueda" class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Búsqueda</font></font></button>
                     
        </div>

        <div class="form-group2 has-success">
            <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Impuestos internos:</font></font></label>
            <input id="impuesto_interno" name="impuesto_interno" type="number"  >
            <input id="impuesto_interno2" name="impuesto_interno" type="number"  >
            <button id="btn_busqueda" class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Búsqueda</font></font></button>
                     
        </div>

        <div class="form-group2 has-success">
          <label class="form-label mt-4" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Diferencia Con Total:</font></font></label>
          <input id="diferencia_total" name="diferencia_total" type="number"  >
          <button id="btn_busqueda" class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Otros Importes de IVA y/o Retenciones</font></font></button>
                   
      </div>


          <!-- 
           -->
          
          
        </div>
     

    </main>

  

    <div class="container mb-5">
      
    
          <div class="container mb-5">
            <button id="btn_aceptar" type="submit" class="btn btn-success"><font style="vertical-align: inherit;">Aceptar</font></button>
            <a id="btn_cancelar" type="button" class="btn btn-danger" href="/compras" ><font style="vertical-align: inherit;">Cancelar</font></a> 
          </div>
    </div>

  </form>
 
     <!-- Archivo JS Bootstrap 5 -->  
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
     <script >
      $(document).ready(async function () {
          $('#btn_afip').click(async function () {
 
   $('#comprobante').val("taxpayerDetails.razonSocial");
              $('#comprobante2').val("1");
              $('#comprobante3').val("taxpayerDetails.tipoPersona");

 
          })
        });
  

       /*  function agregarRetencion(){
          document.getElementById("tabla_nuevaCompra").insertRow(-1).innerHTML = '<td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>';

        } */

        fecha_emision.max = new Date().toISOString().split("T")[0];
      
        fecha_vencimiento.min = new Date().toISOString().split("T")[0];

    </script>
    <script>
      /**
       * Funcion que crea los eventos necesarios
       */
      const setEvents = () => {
          document.querySelectorAll("input").forEach(el => {
              el.removeEventListener("keyup", calcularFila);
              el.addEventListener("keyup", calcularFila);
          });
      };
      setEvents();
       
      /**
       * Funcion para calcular el subtotal de la fila
       * Se ejecuta cada vez que se modifica un input
       */
      function calcularFila() {
       
          const tr=this.closest("tr")
          const td=this.closest("td")
          console.log(tr)
           const num=tr.querySelectorAll("input[type=number]");
           console.log(num,'num')
           
          
           //$( "tr" ).each(function(item){
            
     
      tr.querySelector(".subtotal").innerText =(parseFloat(num[1].value)+parseFloat(num[2].value) || 0).toFixed(2);
      var iva=document.getElementById("porcentaje").value;
     // document.getElementById("impuesto").value=(parseFloat(document.getElementById("neto").value)*iva/100).toFixed(2);
     document.querySelectorAll("input[id=impuesto]").value=(parseFloat(num[1].value)+parseFloat(num[2].value) || 0).toFixed(2);
     
      /* 
      var x=tr.querySelector(".impuesto2").innerText=(parseFloat(document.getElementById("neto").value)*iva/100).toFixed(2);
     console.log(x) */
         calcularTotal();
         agregarFila();  
        
          
      } 
       
      /**
       * Funcion que calcula el total
       */
       function calcularTotal() {
          const suma=[...document.querySelectorAll(".subtotal")].reduce((acum, el) => acum+parseFloat(el.innerText), 0);
          //const iva=[...document.querySelectorAll(".porcentaje")];
          
       /*    table = document.getElementsByTagName("tbody")[0]; 
          allrows = table.getElementsByTagName("td"); 

          for (i = 0; i < allrows.length; i++) { 
            row_cells = allrows[i].getElementsByTagName("input");
            console.log(row_cells,'filas')
          row_cells2 = row_cells.document.getElementById("porcentaje").value;
          document.getElementById("impuesto").value=(parseFloat(document.getElementById("neto").value)*row_cells2/100).toFixed(2);
 */       

/*  $("tbody tr").each(function() { 
    $("input[type=number]",$(this)).each(function() { 
      // const td=this.closest("tr")
         //  const num=td.querySelectorAll("input[type=number]");
         const algo=$ (this) .val();
         console.log(algo)
      var iva=document.getElementById("porcentaje").value;
      document.getElementById("impuesto").value=(parseFloat(document.getElementById("neto").value)*iva/100).toFixed(2);

     }); 
});  */
          
  /*    row_total = allrows[i].getElementsByTagName("input")[allrows.length - 2]; 
     row_total.value = ""; 

     for (ii = 0; ii < row_cells.length - 1; ii++) { 
      row_total.value = Number(row_total.value) + Number(row_cells[i][ii].value); 
      grandtotal.value = Number(grandtotal.value) + Number(row_cells[i][ii].value); 
     }  
    } */



       /*    $('td').each(function () {
      $(this).keyup(function () {
          //Iniciamos la variable a 0
          var total = 0;
           $('.porcentaje').each(function () {
            var iva=(document.getElementById("porcentaje").value);
            document.getElementById("impuesto").value=(parseFloat(document.getElementById("neto").value)*iva/100).toFixed(2);

           });
 
      });
  }); */
     //   var iva=(document.getElementById("porcentaje").value);
       // console.log(iva)
       // const iva=[...document.querySelectorAll(".importe2")].reduce((acum, el) => acum+parseFloat(el.innerText), 0);

        //var iva=parseFloat(document.getElementById("neto").value)*.21;
        //console.log(iva)
    //   document.getElementById("impuesto").value=(parseFloat(document.getElementById("neto").value)*iva/100).toFixed(2);
     //   document.getElementById("impuesto").value=(parseFloat(document.getElementById("neto").value)*iva/100).toFixed(2);
       
       

        document.querySelector(".total").innerText=suma.toFixed(2);
        /*   document.querySelector(".iva").innerText=(suma*.21).toFixed(2);
          document.querySelector(".retencion").innerText=((suma*.21)+suma).toFixed(2);   */
      } 
       
      /**
       * Funcion para revisar si hay que añadir una nueva fila
       * Unicamente se añade una nueva fila, si la ultima fila no
       * esta vacia
       */
      function agregarFila() {
          // revisamos si la ultima fila esta vacia.
          const tr=document.querySelectorAll("tr");
          // la ultima fila contiene el total, y nosotros queremos al anterior a la del total
          const ultimaFila=tr[tr.length-2];
          //console.log(ultimaFila,'hola',tr);
          // comprovamos si la ultima fila esta vacia
          const vacio=[...ultimaFila.querySelectorAll("input")].every(el => el.value=="");
          //console.log(vacio,'222222');
          if (vacio==false) {
              ultimaFila.insertAdjacentElement('afterend', createTr());
              
              setEvents();
              
          } 
      }
       
      /**
       * Funcion que crea una nueva fila
       *
       * @return {object} tr
       */
      function createTr() {
          // creamos una nueva fila
           const td1=document.createElement("td");
          const input1=document.createElement("input");
          input1.type="text";
          td1.appendChild(input1); 
       
          const td2=document.createElement("td");
          const input2=document.createElement("input");
          input2.type="number";
          td2.appendChild(input2);
       
          const td3=document.createElement("td");
          const input3=document.createElement("input");
          input3.type="number";
          td3.appendChild(input3);

          const td4=document.createElement("td");
          const input4=document.createElement("input");
          input4.type="number";
          input4.disabled=true;
          td4.appendChild(input4);

         /* const td5=document.createElement("td");
          const input5=document.createElement("input");
          input5.type="number";
          td5.appendChild(input5);

          const td6=document.createElement("td");
          const input6=document.createElement("input");
          input6.type="number";
          td6.appendChild(input6);*/
       
          const td5=document.createElement("td");
          td5.classList.add("subtotal");
          td5.innerText="0.00"; 
       
          const tr=document.createElement("tr");
          tr.appendChild(td1);
          tr.appendChild(td2);
          tr.appendChild(td3);
          tr.appendChild(td4);
          tr.appendChild(td5);
         /* tr.appendChild(td6);
          tr.appendChild(td7); */

          
       
          return tr;

          
      }
      </script>
  </body>
</html>